.navigation
{
  z-index: z('navigation');
  position: fixed;

  width: 100%;
  height: 10rem; 

  &__wrapper
  {
    overflow: hidden;
  }

  &__title 
  {
    position: absolute; 
    top: 4rem; 
    left: 4rem; 

    text-transform: uppercase;

    @extend %title-20; 
    letter-spacing: 0.5rem;

    @include media('<=phone')
    {
      font-size: 3rem;
    }
  }

  &__contact 
  {
    position: absolute; 
    top: 4rem; 
    left: 50%; 

    transform: translateX(-50%);

    @include media('<=phone')
    {
      display: none; 
    }

    &__text 
    {
      @extend %link__center--hidden;
    }
  }
  

  &__menu 
  {
    position: absolute; 
    top: 4rem; 
    right: 4rem; 
  }

  &__list 
  {
    display: flex; 
    gap: 4rem; 

    &__item 
    {
      @extend %desc-16; 
      @extend %link__center--hidden;

      @include media('<=phone')
      {
        font-size: 3rem;
      }
    }
  }
}