%desc-10
{
  font-family: $font-josefin;
  font-size: 1.0rem;
}

%desc-16
{
  font-family: $font-josefin;
  font-size: 1.6rem;
}

%desc-20
{
  font-family: $font-josefin;
  font-size: 2.0rem;
}

%desc-30
{
  font-family: $font-josefin;
  font-size: 3.0rem;
}
