%title-20
{
  font-family: $font-nohemi;
  font-size: 2.0rem;
}

%title-25
{
  font-family: $font-nohemi;
  font-size: 2.5rem;
}

%title-30
{
  font-family: $font-nohemi;
  font-size: 3.0rem;
}

%title-100
{
  font-family: $font-nohemi;
  font-size: 10.0rem;
}
