%title-20
{
  font-family: $font-n27;
  font-size: 2.0rem;
}

%title-25
{
  font-family: $font-n27;
  font-size: 2.5rem;
}

%title-30
{
  font-family: $font-n27;
  font-size: 3.0rem;
}

%title-100
{
  font-family: $font-n27;
  font-size: 10.0rem;
}

%title-120
{
  font-family: $font-n27;
  font-size: 12.0rem;
}

%title-150
{
  font-family: $font-n27;
  font-size: 15.0rem;
}

%title-200
{
  font-family: $font-n27;
  font-size: 20.0rem;
}

%title-250
{
  font-family: $font-n27;
  font-size: 25.0rem;
}

%title-300
{
  font-family: $font-n27;
  font-size: 30.0rem;
}
