@font-face {
  font-family: $font-fira;
  src: url('../fonts/FiraCode-Regular.woff2') format('woff2'),
      url('../fonts/FiraCode-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: $font-n27;
  src: url('../fonts/n27-regular-webfont.woff2') format('woff2'),
      url('../fonts/n27-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}