extends ../base.pug

block variables
  - var template = 'about'

block content
  .about 
    .about__wrapper
      .about__media 
        figure.about__media__figure 
          img.about__media__figure__image(src=Build.image(about.image.asset._ref).url() alt=about.image.alt)
      .about__desc 
        p.about__desc__text!=about.desc.replace(/\n/g, '<br>')