.home 
{
  @extend %cover; 

  position: relative; 

  z-index: z('content');

  &__occupation
  {
    @extend %desc-16; 

    mix-blend-mode: difference;

    text-transform: uppercase;
    letter-spacing: 0.5rem;

    position: absolute; 
    bottom: 4rem; 
    right: 4rem;

    @include media('<=phone')
    {
      font-size: 2.5rem; 
      right: auto; 
      left: 4rem; 
      white-space:nowrap;
    }
  }

  &__slogan 
  {
    @extend %desc-16; 

    mix-blend-mode: difference;

    text-transform: uppercase;
    letter-spacing: 0.5rem;

    position: absolute; 
    bottom: 4rem; 
    left: 4rem;

    @include media('<=phone')
    {
      display: none; 
    }
  }

  &__contact 
  {
    position: absolute; 
    bottom: 4rem; 
    right: 4rem; 

    font-size: 2.5rem;
  }
}