*
{
    padding: 0; 
    margin: 0; 
    box-sizing: border-box;
}

html 
{
    scroll-behavior: smooth;
    background: transparent;
    overscroll-behavior: none;
    overflow-x: hidden;
    --p_font: 'Montserrat', sans-serif;
    --hl_font: 'Playfair Display', serif;
    --vand_font: 'Philosopher', sans-serif;
    --minds_font: 'Orbitron', sans-serif;
    --game_font: 'Silkscreen', cursive;
    --cecilie_font: 'Poppins', sans-serif;
}

p, h1, h2, h3, h4 
{
    pointer-events: none;
}

::-webkit-scrollbar 
{
    width: 10px;
    /* display: none; */
}
  
::-webkit-scrollbar-track 
{
    background: #232323;
}

::-webkit-scrollbar-thumb 
{
    background: rgb(96, 17, 17); 
}

::-webkit-scrollbar-thumb:hover 
{
    background: rgb(53, 11, 11); 
}

body 
{
    font-family: var(--p_font);
    color: #ced1d3;
    overflow-x: hidden;
}

.webgl
{
    position: fixed; 
    top: 0; 
    left: 0; 
    outline: none;
    z-index: -1;
}

/*  */
/* BARBA TRANSITION */
/*  */

.transition 
{
    display: flex; 
    position: absolute; 
    z-index: 100;
    height: 100vh; 
    width: 100%; 
    top: 0;
    left: 0;
    margin: 0; 
    pointer-events: none;
    list-style: none;
    transform: scaleY(0);
    background: rgb(96, 17, 17);
}

.transition li 
{
    width: 20%; 
}

/*  */
/* HEADER / NAV SECTION */
/*  */

header 
{
    display: grid; 
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100vh; 
    padding: 5% 10%; 
}

.pages_header 
{
    width: 100%; 
    height: 10vh; 
    display: flex; 
    place-content: center;
}

header nav 
{
    grid-area: 1 / 1 / 2 / -1;
    width: 100%; 
    align-self: flex-start;
    justify-self: center;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    padding: 0 2%;
}

header nav a 
{
    text-decoration: none;
}

header nav ._about 
{
    color: #ced1d3;
}

header nav ul 
{
    display: flex; 
    justify-content: center;
    list-style: none;
}

header nav ul li a
{
    color: #ced1d3;
    font-size: 1rem;
    overflow: hidden;
    transform-origin: center;
    text-decoration: none;
    transition: all 0.2s linear;
    padding: 0 10px;
}


header nav a:hover
{
    color:rgb(96, 17, 17)
}

.white 
{
    color: #232323;
}

.active
{
    color: rgb(223, 36, 36);
}


/*  */
/* HOME SECTION */
/*  */

#title
{
    grid-area: 1 / 1 / -1 / 2;
    align-self: center;
    justify-self: flex-start;
    overflow: hidden;
    padding: 0 2%;
}

#title h1 
{
    writing-mode: vertical-lr;
    transform: scale(-1, -1);
    position: relative; 
    left: 0; 
    color: #ced1d3; 
    letter-spacing: 5px;
    font-size: .8rem;
    font-weight: 300;
    mix-blend-mode: difference;
}

.redefine 
{
    grid-area: 3 / 1 / -1 / 2;
    align-self: flex-end;
    justify-self: flex-start;
    padding: 0 2%; 
}

.redefine p 
{
    color: #ced1d3; 
    letter-spacing: 3px;
    font-size: .8rem;
    font-weight: 300;
    mix-blend-mode: difference;
    padding: 0 10px; 
}

.social
{
    grid-area: 3 / 3 / -1 / -1;
    height: 60%; 
    align-self: flex-start;
    justify-self: flex-end;
    overflow: hidden;
    padding: 0 2%;
    display: flex; 
    flex-direction: column;
    justify-content: space-around;
}

.social img
{
    object-fit: cover;
    height: 20px; 
    width: 20px; 
    filter: invert(1);
}

.black img 
{
    filter: invert(0);
}

.subline
{
    grid-area: 3 / 1 / -1 / -1;
    align-self: flex-end;
    display: grid; 
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
}

.subline .subline_r
{
    grid-area: 1 / 2 / -1 / 3;
    text-orientation: upright;
    writing-mode: vertical-rl;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    word-spacing: 1rem;
    overflow: hidden;
}

.subline .flip 
{
    transform: scale(-1, 1);
    color:rgb(179, 36, 36);
}

.subline hr 
{
    border: 3px solid rgb(179, 36, 36); 
    height: 0.8rem; 
}


/*  */
/* WORK SECTION */
/*  */

.work 
{
    color: #232323; 
}

main 
{
    display: grid; 
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 80vh;
    padding: 0 10% 5% 10%; 
}

.projects 
{
    grid-area: 1 / 1 / -1 / -1;
    display: grid; 
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    padding: 0 5%;
}

.project
{
    align-self: center;
    justify-self: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    width: 100%; 
    height: 100%; 
    overflow: hidden;
}

.a 
{
    grid-area: 2 / 2 / 3 / 3;
}

.b 
{
    grid-area: 2 / 5 / 3 / 6;
}

.c 
{
    grid-area: 5 / 2 / 6 / 3;
}

.d
{
    grid-area: 5 / 5 / 6 / 6;
}

.c .project_id, 
.d .project_id 
{
    align-self: center;
}

.project_id
{
    grid-area: 1 / 1 / -1 / -1;
    justify-self: center;
    align-self: flex-start;
    font-family: var(--hl_font);
    font-size: 1rem;
}

/*  */
/* ABOUT SECTION */
/*  */

.desc 
{
    grid-area: 1 / 1 / 3 / 3;
    align-self: center;
    justify-self: center;
    padding: 5% 30%;
}

.desc_two
{
    grid-area: 2 / 2 / -1 / -1;
    align-self: center;
    justify-self: center;
    padding: 5% 30%;
}

/*  */
/* MEDIA QUERIES SECTION */
/*  */

@media screen and (max-width: 800px) {

    .social 
    {
        display: none; 
    }    
}